@use 'variables';
@use '_mixins';

.image-gallery {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 60vh;

    &__img-1 {
        background: url("../images/desktop/image-gallery-milkbottles.jpg") no-repeat center center/cover;
    }
    &__img-2 {
        background: url("../images/desktop/image-gallery-orange.jpg") no-repeat center center/cover;
    }
    &__img-3 {
        background: url("../images/desktop/image-gallery-cone.jpg") no-repeat center center/cover;
    }
    &__img-4 {
        background: url("../images/desktop/image-gallery-sugarcubes.jpg") no-repeat center center/cover;
    }
}

@media (max-width: 865px) { // responsive images gallery
    .image-gallery {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,50vh);
    }
}

.footer {
    background-color: variables.$dark-cyan;
    height: 40vh;
    @include mixins.flex-center;

    &-content {
        @include mixins.flex-center;
        flex-direction: column;
        gap: 3rem;

        .footer-nav {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .navigation {
            display: flex;
            gap: 3rem;
            font-family: variables.$barlow;
            font-size:1.1rem;
            color: variables.$dark-soft-cyan;
        }
        .social {
            @include mixins.flex-center;
            gap: 2rem;
            
        }
    
    }
}
