// Variables

// Colors
$white: #fff;
$black: #000;
$yellow:#fad400;
$soft-red:#ff7866 102;

$dark-blue:#23303e;
$dark-cyan:#26574c;
$grayish-blue:#5a636c;
$dark-soft-cyan: #91d4c6;

// Font Family
$barlow : 'Barlow', sans-serif;
$fraunces: 'Fraunces', serif;
